VITE_SUPABASE_URL=https://nnzmdhmibiszmzrmcrzb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5uem1kaG1pYmlzem16cm1jcnpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3Nzk4NjgsImV4cCI6MjA0OTM1NTg2OH0.9CStbw3QqBpz2N9ilJD-WellTL2BOEvLjVyvviPssv8